 #container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 1200px;
    
 }
 
 #container div {
    width: 6.25%;
    aspect-ratio: 1/1;
    background-color: rgb(214, 137, 36);
}