 body {
   display: flex;
   flex-direction: column;
   align-items: center;

 }
 
 #container {
    display: flex;
    flex-wrap: wrap;
    width: 80vh;
    
    
 }
 
 #container div {
    width: 6.25%;
    aspect-ratio: 1/1;
    background-color: rgb(214, 137, 36);
}

.tiny5-regular {
  font-family: "Tiny5", sans-serif;
  font-weight: 400;
  font-style: normal;
}
